---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random?client_id=<UNSPLASH_KEY>&query=denver
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Etag:
      - W/"e777328a8ebd6859fb64beabc132ab97"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '47'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"n1VPO8ZDQ0w","created_at":"2021-03-22T19:08:11-04:00","updated_at":"2021-11-17T19:24:35-05:00","promoted_at":null,"width":5464,"height":3640,"color":"#f3f3f3","blur_hash":"LlJ8-Dni%Mt7lARjWBWB00R*RjRj","description":"instagram
        - @jakobnoahrosen","alt_description":"city buildings under blue sky during
        daytime","urls":{"raw":"https://images.unsplash.com/photo-1616454417797-def8bcf56bdc?ixid=MnwyNzYxNjN8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzcxOTU2NjE\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1616454417797-def8bcf56bdc?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=MnwyNzYxNjN8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzcxOTU2NjE\u0026ixlib=rb-1.2.1\u0026q=85","regular":"https://images.unsplash.com/photo-1616454417797-def8bcf56bdc?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNzYxNjN8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzcxOTU2NjE\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1616454417797-def8bcf56bdc?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNzYxNjN8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzcxOTU2NjE\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1616454417797-def8bcf56bdc?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyNzYxNjN8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzcxOTU2NjE\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200"},"links":{"self":"https://api.unsplash.com/photos/n1VPO8ZDQ0w","html":"https://unsplash.com/photos/n1VPO8ZDQ0w","download":"https://unsplash.com/photos/n1VPO8ZDQ0w/download?ixid=MnwyNzYxNjN8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzcxOTU2NjE","download_location":"https://api.unsplash.com/photos/n1VPO8ZDQ0w/download?ixid=MnwyNzYxNjN8MHwxfHJhbmRvbXx8fHx8fHx8fDE2MzcxOTU2NjE"},"categories":[],"likes":6,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{},"user":{"id":"qOQ1e9l0U_s","updated_at":"2021-11-17T16:23:58-05:00","username":"jakobnoahrosen","name":"Jakob
        Rosen","first_name":"Jakob","last_name":"Rosen","twitter_username":null,"portfolio_url":"https://www.instagram.com/jakobnoahrosen/","bio":null,"location":"Denver,
        Co","links":{"self":"https://api.unsplash.com/users/jakobnoahrosen","html":"https://unsplash.com/@jakobnoahrosen","photos":"https://api.unsplash.com/users/jakobnoahrosen/photos","likes":"https://api.unsplash.com/users/jakobnoahrosen/likes","portfolio":"https://api.unsplash.com/users/jakobnoahrosen/portfolio","following":"https://api.unsplash.com/users/jakobnoahrosen/following","followers":"https://api.unsplash.com/users/jakobnoahrosen/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1616187995138-11252f2dd5b2image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/profile-1616187995138-11252f2dd5b2image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/profile-1616187995138-11252f2dd5b2image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":"jakobnoahrosen","total_collections":8,"total_likes":108,"total_photos":2433,"accepted_tos":true,"for_hire":true,"social":{"instagram_username":"jakobnoahrosen","portfolio_url":"https://www.instagram.com/jakobnoahrosen/","twitter_username":null,"paypal_email":null}},"exif":{"make":"Hasselblad","model":"L1D-20c","name":"Hasselblad,
        L1D-20c","exposure_time":"1/500","aperture":"5.6","focal_length":"10.3","iso":100},"location":{"title":null,"name":null,"city":null,"country":null,"position":{"latitude":null,"longitude":null}},"views":54640,"downloads":475}'
  recorded_at: Thu, 18 Nov 2021 00:34:21 GMT
recorded_with: VCR 6.0.0
