---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<MAPQUEST_KEY>&location=chicago,il
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 17 Nov 2021 21:22:04 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"chicago,il"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Chicago","adminArea5Type":"City","adminArea4":"Cook
        County","adminArea4Type":"County","adminArea3":"IL","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039507","unknownInput":"","type":"s","latLng":{"lat":41.883229,"lng":-87.632398},"displayLatLng":{"lat":41.883229,"lng":-87.632398},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<MAPQUEST_KEY>&type=map&size=225,160&locations=41.883229,-87.632398|marker-sm-50318A-1&scalebar=true&zoom=12&rand=139752292"}]}]}'
  recorded_at: Wed, 17 Nov 2021 21:22:05 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<OPENWEATHER_KEY>&exclude=minutely,alerts&lat=41.883229&lon=-87.632398&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":41.8832,"lon":-87.6324,"timezone":"America/Chicago","timezone_offset":-21600,"current":{"dt":1637184125,"sunrise":1637152984,"sunset":1637188100,"temp":48.54,"feels_like":48.54,"pressure":1013,"humidity":89,"dew_point":45.45,"uvi":0.12,"clouds":90,"visibility":6437,"wind_speed":1.01,"wind_deg":250,"wind_gust":4,"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10d"},{"id":701,"main":"Mist","description":"mist","icon":"50d"}],"rain":{"1h":2.73}},"hourly":[{"dt":1637182800,"temp":48.54,"feels_like":44.44,"pressure":1013,"humidity":89,"dew_point":45.45,"uvi":0.12,"clouds":90,"visibility":10000,"wind_speed":9.42,"wind_deg":315,"wind_gust":18.57,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.82},{"dt":1637186400,"temp":48.96,"feels_like":45,"pressure":1013,"humidity":83,"dew_point":44.02,"uvi":0.01,"clouds":92,"visibility":10000,"wind_speed":9.31,"wind_deg":296,"wind_gust":18.07,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.82,"rain":{"1h":0.75}},{"dt":1637190000,"temp":48.9,"feels_like":44.91,"pressure":1013,"humidity":77,"dew_point":42.03,"uvi":0,"clouds":94,"visibility":10000,"wind_speed":9.35,"wind_deg":294,"wind_gust":17.76,"weat[...]
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=cooking
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"82-KMvPHiVV22dD2LIGFYF4sWsF714"
    body:
      encoding: UTF-8
      string: '{"activity":"Make homemade ice cream","type":"cooking","participants":1,"price":0.2,"link":"","key":"3818400","accessibility":0.2}'
  recorded_at: Wed, 17 Nov 2021 21:22:08 GMT
- request:
    method: get
    uri: http://www.boredapi.com/api/activity?type=relaxation
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ac-B2PTE5uJXZE4O6SU8qCAGGXdxl8"
    body:
      encoding: UTF-8
      string: '{"activity":"Draw and color a Mandala","type":"relaxation","participants":1,"price":0.05,"link":"https://en.wikipedia.org/wiki/Mandala","key":"4614092","accessibility":0.1}'
  recorded_at: Wed, 17 Nov 2021 21:22:11 GMT
recorded_with: VCR 6.0.0
