---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=Fc43yBbvaWahv8rjskqvkxxqv0EcijnX&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 16 Nov 2021 04:25:22 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=Fc43yBbvaWahv8rjskqvkxxqv0EcijnX&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=484741319"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=Fc43yBbvaWahv8rjskqvkxxqv0EcijnX&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=-873681327"}]}]}'
  recorded_at: Tue, 16 Nov 2021 04:25:22 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=02e8ce29e83bf9ba4acff856ffdacb7f&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1637036722,"sunrise":1636983900,"sunset":1637019867,"temp":57.43,"feels_like":54.05,"pressure":1011,"humidity":25,"dew_point":23.07,"uvi":0,"clouds":48,"visibility":10000,"wind_speed":1.01,"wind_deg":182,"wind_gust":1.99,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}]},"hourly":[{"dt":1637035200,"temp":57.43,"feels_like":54.05,"pressure":1011,"humidity":25,"dew_point":23.07,"uvi":0,"clouds":48,"visibility":10000,"wind_speed":5.61,"wind_deg":210,"wind_gust":7.23,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"pop":0},{"dt":1637038800,"temp":57.42,"feels_like":53.98,"pressure":1011,"humidity":24,"dew_point":22.21,"uvi":0,"clouds":52,"visibility":10000,"wind_speed":5.7,"wind_deg":207,"wind_gust":7.87,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0},{"dt":1637042400,"temp":56.91,"feels_like":53.44,"pressure":1011,"humidity":24,"dew_point":21.81,"uvi":0,"clouds":55,"visibility":10000,"wind_speed":4.9,"wind_deg":219,"wind_gust":5.53,"weather":[{"id":803,"main":[...]
